.amount {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.amount input[type="number"] {
    height: 40px;
    width: 50px;
}

.amount textarea {
    resize: none;
    width: 300px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.adjustment {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
  